 .u-section-1 {
  background-image: url("images/Logo-2400.jpg");
  background-position: 68.01% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 432px;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 186px;
  margin: 45px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 34px;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: 18px 306px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 134px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 50vw;
}

.u-section-2 .u-shape-1 {
  height: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: -158px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 25px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1184px;
  margin: 42px auto 16px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 417px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 317px;
  height: 161px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 31px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 317px;
  height: 161px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 31px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 317px;
  height: 161px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 554px;
  }

  .u-section-2 .u-shape-1 {
    height: 322px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 810px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 761px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 793px;
  }

  .u-section-2 .u-shape-1 {
    height: 309px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1224px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 745px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 665px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/-min.jpg");
  background-position: 50% 0%;
  margin: 0 270px 0 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0 80px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 30px 0 0 80px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 665px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0 80px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 30px 80px 0 0;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/jhjh.jpg");
  background-position: 50% 0%;
  margin: 20px auto 0 80px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 665px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/ghghghh.jpg");
  background-position: 50% 50%;
  margin: 0 270px 0 0;
}

.u-section-3 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0 80px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 30px 0 0 80px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 828px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 14px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 48px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 48px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 828px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 124px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 216px;
    height: 216px;
    margin-left: 37px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 828px;
  }

  .u-section-3 .u-image-3 {
    width: 232px;
    height: 232px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 48px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 68px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 181px;
    height: 181px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 180px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 181px;
    height: 181px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 657px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    width: 274px;
    height: 274px;
    margin-right: 246px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 113px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 559px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    width: 274px;
    height: 274px;
    margin-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 611px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 274px;
    height: 274px;
    margin-right: 246px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 113px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 724px;
  }

  .u-section-3 .u-image-1 {
    width: 290px;
    height: 290px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 676px;
  }

  .u-section-3 .u-image-2 {
    width: 290px;
    height: 290px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 677px;
  }

  .u-section-3 .u-image-3 {
    width: 290px;
    height: 290px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 605px;
}

.u-section-4 .u-group-1 {
  margin-top: 0;
  margin-bottom: 60px;
  background-image: none;
  min-height: 292px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 0 50px;
}

.u-section-4 .u-text-1 {
  margin: 49px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 43px auto -296px;
}

.u-section-4 .u-image-1 {
  min-height: 400px;
  background-image: url("images/hgghgh.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 10px 36px 10px 35px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 10px 36px 10px 35px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 525px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 860px;
  }

  .u-section-4 .u-image-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 408px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-4 .u-image-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1134px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 50px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-4 .u-image-1 {
    min-height: 538px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 977px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-4 .u-image-1 {
    min-height: 339px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 662px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 98px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 907px;
  margin: 30px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 397px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 397px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.25rem;
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1185px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 393px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px 30px 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 393px;
  background-image: url("images/services-1.jpg");
  background-position: 100% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-image-2 {
  min-height: 393px;
  background-image: url("images/services-2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 393px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 50px 30px 30px;
}

.u-section-6 .u-text-3 {
  margin: 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 263px;
  grid-gap: 20px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-text-9 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-text-11 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-6 .u-image-1 {
    min-height: 324px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: -26px;
  }

  .u-section-6 .u-image-2 {
    min-height: 324px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 324px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 70px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 248px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 233px;
  }

  .u-section-6 .u-image-2 {
    min-height: 248px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -289px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 476px;
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 372px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 681px;
  }

  .u-section-6 .u-image-2 {
    min-height: 372px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -869px;
    margin-bottom: 5px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-6 .u-image-1 {
    min-height: 234px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 565px;
  }

  .u-section-6 .u-image-2 {
    min-height: 234px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -738px;
    margin-bottom: 28px;
  }

  .u-section-6 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-9 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-11 {
    font-size: 4.5rem;
  }
} .u-section-7 {
  background-image: none;
  min-height: 704px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 704px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-form-1 {
  height: 333px;
  width: 535px;
  margin: 37px 0 0;
}

.u-section-7 .u-form-group-1 {
  margin-left: auto;
}

.u-section-7 .u-form-group-2 {
  margin-left: auto;
}

.u-section-7 .u-form-group-3 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-7 .u-form-group-4 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-7 .u-form-group-5 {
  margin-left: auto;
}

.u-section-7 .u-form-group-6 {
  margin-left: auto;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
}

.u-section-7 .u-text-3 {
  text-align: left;
  margin: 37px 0 0;
}

.u-section-7 .u-btn-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  min-height: 704px;
  background-image: url("images/hgghgh.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 580px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-7 .u-form-1 {
    width: 410px;
  }

  .u-section-7 .u-image-1 {
    min-height: 580px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 444px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-form-1 {
    width: 300px;
  }

  .u-section-7 .u-image-1 {
    min-height: 444px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 766px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px 40px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 666px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 519px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 419px;
  }
}